/******************************************************************************
 * Spezielle Cascading-Style-Sheets-Datei nur fuer das Modern-Theme
 *
 * Copyright    : (c) 2004 - 2012 The Admidio Team
 * Homepage     : http://www.admidio.org
 * License      : GNU Public License 2 http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Mit dieser CSS-Datei koennen Sie die spezifischen Anpassungen fuer das
 * Modern-Theme bearbeiten. Dies sind keine Admidio-Standard-CSS-Klassen.
 *
 *****************************************************************************/

#page_header {
background:url(../images/teammv.gif) no-repeat top left;
    text-align: left;
    margin: 0 auto;
    width: 800px;
    height: 60px;
}

#page_header h1 {
    margin-left:260px;
    color: #449ba6;
    padding: 0px;
    padding-top:10px;
    font-size: 24pt;
    font-weight: bold;
}

h2 {
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14pt;
    color: #449ba6;
}

h3 {
    padding-bottom: 3px;
    font-size: 12pt;
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #459ba6;
}

h4 {
    padding-bottom: 3px;
    font-size: 11pt;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #459ba6;
}

*:first-child+html #orga_name[id] {
    margin-left: -593px!;
}

.menu {
    display: block;
    padding-bottom: 7px;
}

#page {
    text-align: left;
    margin: 0px auto;
    width: 925px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
}

#left_block {
    float: left;
    margin-right: 20px;
}

#right_block > div {
    margin-left: 625px;
}

#top_border_img_big{
    background-image: url(../images/border_top_big.png);
    height: 26px;
    width: 601px;
}

#bottom_border_img_big{
    background-image: url(../images/border_bottom_big.png);
    height: 26px;
    width: 601px;
}

#top_border_img_small{
    background-image: url(../images/border_top_small.png);
    height: 26px;
    width: 300px;
}

#bottom_border_img_small{
    background-image: url(../images/border_bottom_small.png);
    height: 26px;
    width: 300px;
}

/* spezieller Hack, damit der Block im IE6 auch richtig neben den anderem positioniert ist */
html.* #right_block{
    width: 300px;
}

/* spezieller Hack, damit die Menuelinks im IE6 nicht so weit auseinander springen */
html.* #right_block span {
    height: 15px;
}

/* damit unter den Rahmenbildern keine 2px Abstand sind */
.img_border {
    display: block;
}

#content, #content_left {
    padding-left: 13px;
    padding-right: 12px;
    min-height: 450px;
    width: 574px;
}

.content {
    border-right: 1px solid #7d7d7d;
    border-left: 1px solid #7d7d7d;
    background-color: white;
    background-position: 0 bottom;
    background-repeat: repeat-x;
    background-image: url(../images/background_in_borders.png);
}

#sidebar {
    padding-left: 15px;
    padding-right: 15px;
}

#sidebar hr {
    margin: 5px 0px 5px 0px;
    border: 1px dashed #d7d7d7;
    text-align: left;
}
